<table class="table table-borderless table-hover">
    <thead class="thead-light">
    <tr class="bg-primary">
        <th>Full name</th>
        <th>Username</th>
        <th>Location</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td *ngIf="admin.predefined == true">{{user.username}}</td>
            <td *ngIf="admin.predefined == false">*************</td>
            <td>{{user.address.city}}, {{user.address.country}}</td>
            <td *ngIf="admin.predefined == true">{{user.password}}</td>
            <td *ngIf="admin.predefined == false">*************</td>
        </tr>
    </tbody>
</table>