<div class="row">
    <div class="column" *ngFor="let car of cars; let i = index">
        <div class="container">
                <img src="{{car.image}}" class="img rounded-lg">
                
                <div class="middle rounded-lg">
                    <div class="text" (click)="openModal();currentSlide(i+1)"><b>{{car.mark}} {{car.model}}</b><br>
                                      Year: {{car.year}}<br>
                                      Car type: {{car.type}}<br>
                                      Number of seats: {{car.seats}}<br>
                                      Daily price: {{car.dailyPrice}}€
                    </div>

                    <div class="row" *ngIf="this.loginService.userRole == UserRole.Registered">
                        <div class="columnBtnLeft">
                            <button class="btn btn-info" style="width: 100px; visibility: hidden;" (click)="removeCar(car.id)">Remove</button>
                        </div>
                        <div class="columnBtn">
                            <button class="btn btn-info" style="width: 100px;" (click)="openRentModal(car.id)">Rent</button>
                        </div>
                        <div class="columnBtnRight">
                            <button class="btn btn-info" style="width: 100px; visibility: hidden;" (click)="openChangeCarModal(car.id);">Change</button>
                        </div>
                    </div> 

                    <div class="row" *ngIf="this.loginService.userRole == UserRole.AdminRAC">
                        <div class="columnBtnLeft">
                            <button class="btn btn-info" [disabled]="car.rented" style="width: 100px;" (click)="removeCar(car.id)">Remove</button>
                        </div>
                        <div class="columnBtn">
                            <button class="btn btn-info" style="width: 100px; visibility: hidden;" (click)="openRentModal(car.id)">Rent</button>
                        </div>
                        <div class="columnBtnRight" >
                            <button class="btn btn-info" [disabled]="car.rented" style="width: 100px;" (click)="openChangeCarModal(car.id);">Change</button>
                        </div>
                    </div>
                </div>          
        </div> 
        <ngb-rating [(rate)]="car.rating" [readonly]="true" class="ngb-rating"></ngb-rating>
    </div>
</div>

<div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
        <div class="img-slides" *ngFor="let car of cars; let i = index">
            <img class="myModalImage" src="{{car.image}}">
        </div>
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
        <div class="image-row">
            <div class="image-column" *ngFor="let car of cars; let i = index">
                <img class="images" (click)="currentSlide(i+1)" src="{{car.image}}">
            </div>
        </div>
    </div>
</div>
