
.top-buffer { margin-top:50px; }

form {
    margin-left: 38%;
}

.myBody{
    background-image: url("/assets/images/background19.jpg");
    background-repeat: 'no-repeat';
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: auto;
}