<div class="container-fluid">
    <div class="row top-buffer">
        <form>
            <div class="form-row">
                    <div class="col col-md-8">
                        <input type="text" class="form-control"  placeholder="Search...">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row top-buffer">
        <table class="border table table-sm">
            <thead>
            <tr class="bg-primary">
                <th class="table-active">First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Marko</td>
                <td>Markovic</td>
                <td><button >Delete</button></td>
            </tr>
            <tr>
                <td>Marko</td>
                <td>Markovic</td>
                <td><button >Send invitation</button></td>
            </tr>
            <tr>
                <td>Marko</td>
                <td>Markovic</td>
                <td><button >Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
