table {
    margin-left: 15%;
    margin-right: 15%;
}

tbody > tr {
    height: 70px;
}

th {
    color: white;
    text-align: center;
} 

td {
    text-align: center;
    vertical-align: middle;
    text-size-adjust: inherit;
}

.top-buffer { margin-top:20px; }

form {
    margin-left: 38%;
}