<body class="myBody">
    <div class="container-fluid">
        <div class="row top-buffer">
            <form>
                <div class="form-row">
                        <div class="col col-md-8">
                            <input type="text" class="form-control"  placeholder="Search...">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-info">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row top-buffer">
            <div class="col-3"></div>
            <div class="col-6">
                <frends-list></frends-list>
            </div>
            <div class="col-3"></div>
            
        </div>
        
    <div class="container-fluid">
    </div>
<body>
