
<table class="table table-dark">
    <tbody>
      
      <div *ngFor="let flight of flights">
        <flight [startTimeHours] = "flight.startTimeHours"
                [startTimeMinutes] = "flight.startTimeMinutes"
                [landTimeHours] = "flight.landTimeHours"
                [landTimeMinutes] = "flight.landTimeMinutes"   
                [startDest] = "flight.startDest"
                [landDest] = "flight.landDest"
                [cost] = "flight.cost"
                [airline] = "flight.airline"
                [stops] = "flight.stops">
        </flight>
      </div>
      
    </tbody>
  </table>