
    <table class="table table-borderless table-hover">
        <thead class="thead-light">
            <tr class="bg-primary">
                <th>Name</th>
                <th>Address</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let airline of airlines" (click)="airlineClick(airline.id)">
                <td>{{ airline.name }}</td>
                <td>{{ airline.address.city + ", " + airline.address.country }}</td>
                <td>{{ airline.averageRating }}</td>
            </tr>
        </tbody>
    </table>