
    <table class="border table table-sm">
        <thead>
        <tr class="bg-primary">
            <th class="table-active">Name</th>
            <th>Address</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Turkish Airlines</td>
            <td>Istanbul, Turkey</td>
            <td>4.56 </td>
        </tr>
        <tr>
            <td>Serbian Airlines</td>
            <td>Belgrade, Serbia</td>
            <td>3.78</td>
        </tr>
        <tr>
            <td>British Airlines</td>
            <td>London, England</td>
            <td>3.90 </td>
        </tr>
        </tbody>
    </table>