
    .my-custom-scrollbar {
    position: relative;
    height: 180px;
    overflow: auto;
    }

    .table-wrapper-scroll-y {
    display: block;
    }

    form {
        margin-top: 40px;
    }

    .margin-between-elem {
        margin-top: 12px;
    }

    .margin-between-elem2 {
      margin-top: 5px;
    }

    th {
      text-align: center;
      vertical-align: middle;
    } 
    
    td {
      text-align: center;
      vertical-align: middle;
      color: white;
    }

    .airportForm {
        margin-left: 10px;
    }