<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" href="css/bootstrap.min.css" />
    <link type="text/css" href="css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
</head>

<div>
    <mat-tab-group>
        <mat-tab label="Informations"> 
            <app-info-rac></app-info-rac>
        </mat-tab>
        <mat-tab label="Filters" *ngIf="this.loginService.userRole == UserRole.Registered || this.loginService.userRole == UserRole.Unregistered">  
            <app-filter-rac (change)="fetchFilterData($event)" [racId]="racId"></app-filter-rac>
        </mat-tab>
        <mat-tab label="Report" *ngIf="this.loginService.userRole == UserRole.AdminRAC">
            <app-report-rac></app-report-rac>
        </mat-tab>
        <mat-tab label="Add new car" *ngIf="this.loginService.userRole == UserRole.AdminRAC">
            <app-add-car-rac></app-add-car-rac>
        </mat-tab>
    </mat-tab-group>
</div>


