::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

mat-tab-group {
    color: white;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0!important;
    padding: 20px!important;
    margin: 3px!important;
    max-width: 85px!important;
    position: fixed;
}

/***********************************ZA FIKSIRAN MENI***********************************/

.sidenav {
    /*height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 450px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10; /* Stay at the top */
    /*left: 0;*/
    /*background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*margin-top: 50px;*/
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }