<body class="myBody text-center">
  <img class="myImage" src="/assets/images/profile.png">
  <div class="container-fluid">
    <div class="row top-buffer">
      <div class="col-3"></div>
      <div class="col-6">
        <table class="table table-hover">
          <tbody>
            <tr (click)="openFirstNameModal()">
              <th>First name</th>
              <td>{{myProfile.firstName}}</td>
            </tr>
            <tr (click)="openLastNameModal()">
              <th>Last name</th>
              <td>{{myProfile.lastName}}</td>
            </tr>
            <tr (click)="openUsernameModal()">
              <th>Username</th>
              <td>{{myProfile.username}}</td>
            </tr>
            <tr (click)="openEmailModal()">
              <th>Email</th>
              <td>{{myProfile.email}}</td>
            </tr>
            <tr (click)="openCityModal()">
              <th>Address</th>
              <td>{{myProfile.address.city + ', ' + myProfile.address.country}}</td>
            </tr>
            <tr (click)="openMobileNumberModal()">
              <th>Mobile number</th>
              <td>{{myProfile.mobileNumber}}</td>
            </tr>
          </tbody>
        </table>

        <div class="row password justify-content-center">
          <a (click)="openPasswordModal()" class="disabled">Do you want to change password ?</a>
        </div>

        <div class="row password justify-content-center">
          <button type="button" (click)="saveChanges()" class="btn btn-info">Save changes</button>
        </div>

      </div>
      <div class="col-3"></div>
    </div>    
  </div>

  
</body>