.myBody{
    background-image: url("/assets/images/background21.jpg");
    background-repeat: 'no-repeat';
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: auto;
}

table {
    margin-top: 140px;
}

td {
    color:white;
    font-size: x-large;
}

th {
    color: white;
    font-size: x-large;
}