form {
    padding: 40px;
    background-color: rgb(56, 55, 55, 0.7);   
}

input [name="dp"] {
    width : 40px;
}

.label{
    color: white;
    font-size: medium;
}

.myInput{
    visibility: hidden;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
    background: rgb(2, 117, 216) !important;
  }

  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
    background: rgb(2, 117, 216) !important;
  }