<table class="table table-borderless table-hover">
    <thead class="thead-light">
    <tr>
        <th [class.table-info]="isActiveFirstName" (click)="sortByFirstName()">First name</th>
        <th [class.table-info]="isActiveLastName" (click)="sortByLastName()">Last name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let friend of friends">
            <td>{{friend.firstName}}</td>
            <td>{{friend.lastName}}</td>
            <td>
                <button *ngIf="friend.userCurrentFriendshipStatus == UserCurrentFriendshipStatus.Friend" type="button" class="btn btn-info" 
                (click)="removeFromFriendsClick(friend.id)">
                    Remove from friends
                </button>
                <label *ngIf="friend.userCurrentFriendshipStatus == UserCurrentFriendshipStatus.FriendshipRequestSent">
                    Waiting for response...
                </label>
                <button *ngIf="friend.userCurrentFriendshipStatus == UserCurrentFriendshipStatus.NotFriend" type="button" class="btn btn-info"
                (click)="sendRequestClick(friend.id)">
                    Send friendship request
                </button>
                <div *ngIf="friend.userCurrentFriendshipStatus == UserCurrentFriendshipStatus.FriendshipRequestRecieved">
                    <button type="button" class="btn btn-info" (click)="acceptRequestClick(friend.id)">Accept</button>
                    <button type="button" class="btn btn-info" (click)="refuseRequestClick(friend.id)">Refuse</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>