<table class="table">
    <tbody>
        <tr class="component-style table-row-component"
            *ngFor="let flight of flights" 
            flight-admin 
            [startTimeHours] = "flight.startTimeHours"
            [startTimeMinutes] = "flight.startTimeMinutes"
            [landTimeHours] = "flight.landTimeHours"
            [landTimeMinutes] = "flight.landTimeMinutes"   
            [startDest] = "flight.startDest"
            [landDest] = "flight.landDest"
            [cost] = "flight.cost"
            [airline] = "flight.airline"
            [stops] = "flight.stops">
        </tr>
    </tbody>
  </table>
