<table class="table table-hover">
    <tbody>
        <tr class="component-style table-row-component"
            *ngFor="let flight of flights" 
            flight-admin 
            [from] = "flight.from"
            [to] = "flight.to"
            [takeoffTime] = "flight.takeoffTime"
            [landingTime] = "flight.landingTime"   
            [duration] = "flight.duration"
            [length] = "flight.length"
            [cost] = "flight.cost"
            [averageRating] = "flight.averageRating"
            [airline] = "flight.airline"
            [stopsLocations] = "flight.stopsLocations">
        </tr>
    </tbody>
  </table>
