<body class="myBody">
    <div class="container-fluid">
        <div class="row top-buffer">
        </div>

        <div class="row top-buffer">
            <div class="col-3"></div>
            <div class="col-6">
                <table class="table table-borderless table-hover">
                    <thead class="thead-light">
                        <tr class="bg-primary">
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Username<th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let friend of friends">
                            <td>{{friend.firstName}}</td>
                            <td>{{friend.lastName}}</td>
                            <td>{{friend.username}}</td>
                            <td style="align-content: center;">
                                <form>
                                    <input type="checkbox" (change)="friendCheckOrUncheck($event, friend.id)">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-info" (click)="invite()">Invite</button>

                <form class="backNextTopMargin">
                    <div class="form-row">
                        <div class="col">
                          <button type="button" class="btn btn-info" (click)="back()">Back</button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-info" (click)="next()">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
        
    <div class="container-fluid">
    </div>
<body>

