<form class="rounded-lg">
    <div class="form-row justify-content-center">             
        <div class="form-group">
            <h6 class="h6">
                New Airline Service
            </h6>
        </div>
    </div>  
    <table class="table">
        <tbody>
            <tr>
                <th>Name:</th>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="airline.name" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="airline.promotionalDescription" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <th>City:</th>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="airline.address.city" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <th>Country:</th>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="airline.address.country" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>Price List</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Laggage > 10kg :</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" class="form-control myInputNumber" value=0 max=999 min=0 [(ngModel)]="airline.pricelist.luggageOver10kg" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-2">
                                %  
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Laggage > 20kg :</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" class="form-control myInputNumber" value=0 max=999 min=0 [(ngModel)]="airline.pricelist.luggageOver20kg" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-2">
                                %  
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Hand laggage > max dimensions:</label>
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" class="form-control myInputNumber" value=0 max=999 min=0 [(ngModel)]="airline.pricelist.handLuggageOverMaxDimensions" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group col-md-2">
                                %  
                            </div>
                        </div>
                    </mat-expansion-panel> 
                </td>                        
            </tr>
            <tr>
                <td colspan="2">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>Administrator</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container>
                            <tr *ngIf="airlineAdministrator != undefined && airlineAdministrator.firstName != undefined">                  
                                {{airlineAdministrator.firstName}} {{airlineAdministrator.lastName}}
                                <button type="submit" class="btn xButton" (click)="deleteAdmin()">
                                    <i class="fa fa-close"></i>
                                </button>              
                            </tr>
                        </ng-container>  
                        <tr (click)="openAdministratorAirlineModal()">
                            <button class="btn myButton">
                                Click to add/change administrator
                                <i class="fa fa-plus"></i>
                            </button>      
                         </tr>   
                    </mat-expansion-panel> 
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-row justify-content-center">             
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-info form-control" (click)="addAirline()">Save</button>
        </div>
    </div>  
</form>