<form class="rounded-lg">
    <div class="form-row justify-content-center">             
        <div class="form-group">
            <h6 class="h6">
                New Airline Service
            </h6>
        </div>
    </div>  
    <table class="table">
        <tbody>
            <tr>
                <th>Name:</th>
                <td>
                    <input type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>
                    <input type="text" class="form-control">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-row justify-content-center">             
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-info form-control" (click)="saveChanges()">Save</button>
        </div>
    </div>  
</form>