<body class="myBody text-center">
    <div class="container-fluid">
      <div class="row top-buffer">
        <div class="col-3"></div>
        <div class="col-6">
          <table *ngIf="isLoaded" class="table table-hover">
            <tbody>
              <tr (click)="openNameModal()">
                <th>Company name:</th>
                <td colspan="2">{{airline.name}}</td>
              </tr>
              <tr>
                <th (click)="openAddressModal()">Address: </th>
                <td (click)="openAddressModal()">{{airline.address.city + ", " + airline.address.country}}</td>
                <td>
                  <map [longitude]='airline.address.longitude' [latitude]='airline.address.latitude'></map>
                </td>
              </tr>
              <tr (click)="openPromotionalDescriptionModal()">
                <th>Promotional description:</th>
                <td colspan="2">{{airline.promotionalDescription}}</td>
              </tr>
              <tr>
                <th>Business destinations:</th>
                <td>
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let airlineAirport of businessDestinations">
                          <td>{{airlineAirport.airport.name + ' in ' + airlineAirport.airport.address.city + ', ' + airlineAirport.airport.address.country }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
                <td>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Name" [(ngModel)]="currentAirport.name" name="name1">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="City" [(ngModel)]="currentAirport.address.city" name="name2">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Country" [(ngModel)]="currentAirport.address.country" name="name3">
                    </div>                 
                    <button type="button" class="btn btn-primary" (click)="addBusinessDestination()">Add</button>
                  </form>
                </td>
              </tr>
              <tr>
                <th>
                  Pricelist:
                </th>
                <td colspan="2" (click)="openPricelistModal()">
                  <table class="table">
                    <tr>
                      <td> Laggage > 10kg : </td>
                      <td> {{'+' + airline.pricelist.luggageOver10kg + '%'}}</td>                
                    </tr>
                    <tr>
                      <td> Laggage > 20kg : </td>
                      <td> {{'+' + airline.pricelist.luggageOver20kg + '%'}}</td>
                    </tr>
                    <tr>
                      <td> Hand laggage > max dimensions</td>
                      <td> {{'+' + airline.pricelist.handLuggageOverMaxDimensions + '%'}}</td>                 
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2"> <button type="button" class="btn btn-info" (click)="saveChanges()">Save changes</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-3"></div>
      </div>    
    </div>
  </body>