<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Sky</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="userRole == 'Regular'" class="nav-item" #history (click)="changeAcitve('MyHistory')" [class.active]="isMyHistoryActive">
          <a class="nav-link" href="#">My History</a>
        </li>
        <li class="nav-item" #airlines  (click)="changeAcitve('Airlines')" [class.active]="isAirlinesActive">
          <a class="nav-link" routerLink="/airlines" >Airlines</a>
        </li>
        <li class="nav-item active" (click)="changeAcitve('Rac')" [class.active]="isRacActive">
          <a class="nav-link" href="#" #rac>Rent-A-Car</a>
        </li>
        <li *ngIf="userRole == 'Regular'" class="nav-item" #friends (click)="changeAcitve('Friends')" [class.active]="isFriendsActive">
          <a class="nav-link" routerLink="/friends">Friends</a>
        </li>
        <li *ngIf="userRole == 'Regular'" class="nav-item" #invitations (click)="changeAcitve('Invitations')" [class.active]="isInvitationsActive">
          <a class="nav-link" href="#">Invitations</a>
        </li>
      </ul>
      <div *ngIf="userRole == 'Unregistred'" >
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Sign In
        </a>
      </div>
      <div *ngIf="userRole != 'Unregistred'" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile/show" >My Profile</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </div>
    </div>
  </nav>
</div>