<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/home"><i class="fa fa-home"></i>Travellife Chaser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="this.loginService.userRole == UserRole.Registered"
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa fa-list-alt"></i> My History</a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.Registered || this.loginService.userRole == UserRole.Unregistered"
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/airlines"><i class="fa fa-plane"></i>Airlines</a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.Registered || this.loginService.userRole == UserRole.Unregistered" 
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/rent-a-car-search"><i class="fa fa-car"></i>Rent-A-Car</a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.Registered" 
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" [routerLink]="[this.loginService.user.username, 'friends']"><i class="fa fa-users"></i> Friends</a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.Registered" 
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa fa-id-card"></i> Invitations</a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.AdminAirlines"
            routerLinkActive="active current"  class="nav-item">
          <a class="nav-link" routerLink="/admin/airlineProfile"><i class="fa fa-id-card"></i> Airlines profile</a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.AdminAirlines" 
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/admin/airline-flights"><i class="fa fa-plane"></i> Filghts </a>
        </li>
        <li *ngIf="this.loginService.userRole == UserRole.AdminAirlines"
            routerLinkActive="active current" class="nav-item">
          <a class="nav-link" routerLink="/admin/report"><i class="fa fa-list-alt"></i> Report </a>
        </li>
      </ul>
      <div *ngIf="this.loginService.userRole == UserRole.Unregistered"
           routerLinkActive="active current" ngbButton class="nav-item button">
        <a ngbButton class="nav-link button" role="button" data-toggle="dropdown" aria-expanded="false" routerLink="/sign-in">
          <i class="fa fa-user"></i>
          Sign In
        </a>
      </div>
      <div *ngIf="this.loginService.userRole != UserRole.Unregistered" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> {{ this.loginService.user.firstName + " " + this.loginService.user.lastName }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="[this.loginService.user.username]">My Profile</a>
          <a class="dropdown-item" (click)="logoutClick()">Log out</a>
        </div>
      </div>
    </div>
  </nav>