<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" href="css/bootstrap.min.css" />
    <link type="text/css" href="css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
</head>

<form [formGroup]="form" class="rounded-lg">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Delivery address" formControlName="deliveryAddress"
                [class.alert-danger]="deliveryAddress.invalid && deliveryAddress.touched">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Return address" formControlName="returnAddress"
                [class.alert-danger]="returnAddress.invalid && returnAddress.touched">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="input-group">
                    <input class="form-control myInput">              
                </div>
            </div>
            <div class="form-row">
                <div class="input-group">
                    <input class="form-control" placeholder="Depart" name="dp" ngbDatepicker #d1="ngbDatepicker"
                        [minDate]="minPickerDate" formControlName="date1"
                        [class.alert-danger]="date1.invalid && date1.touched">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                    </div>
                </div>
            </div>      
        </div>
        <div class="form-group col-md-6"> 
            <ngb-timepicker id="tp1" [ngModelOptions]="{standalone: true}" [(ngModel)]="minPickerTime1"></ngb-timepicker>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="input-group">
                    <input class="form-control myInput">              
                </div>
            </div>
            <div class="form-row">
                <div class="input-group" >
                    <input class="form-control" placeholder="Return" name="dp" ngbDatepicker #d2="ngbDatepicker"
                        [minDate]="minPickerDate" formControlName="date2"
                        [class.alert-danger]="date2.invalid && date2.touched">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                    </div>
                </div>
            </div>      
        </div>
        <div class="form-group col-md-6"> 
            <ngb-timepicker id="tp2" [ngModelOptions]="{standalone: true}" [(ngModel)]="minPickerTime2" ></ngb-timepicker>
        </div>
    </div> 
    <div class="form-row">
        <div class="form-group col-md-6">
            <select id="type" class="form-control" placeholder="Car type" formControlName="type"
             [class.alert-danger]="type.invalid && type.touched">
                <option value="" hidden>Car type</option>
                <option value="Micro">Micro</option>
                <option value="Hatchback">Hatchback</option>
                <option value="Sedan">Sedan</option>
                <option value="SUV">SUV</option>
                <option value="Pickup">Pickup</option>
                <option value="VAN">VAN</option>
                <option value="Coupe">Coupe</option>
                <option value="Cabriolet">Cabriolet</option>
            </select>
        </div>  
        <div class="form-group col-md-6">
            <select id="passengers" class="form-control" placeholder="Passengers" formControlName="passengers"
             [class.alert-danger]="passengers.invalid && passengers.touched">
                <option value="" hidden>Passengers</option>
                <option value=1>1 passenger</option>
                <option value=2>2 passengers</option>
                <option value=3>3 passengers</option>
                <option value=4>4 passengers</option>
                <option value=5>5 passengers</option>
            </select>
        </div>
    </div>
    <div class="form-row top-buffer custom-slider">
        <input class="myInput">
        <ng5-slider [(value)]="minValue1" [(highValue)]="maxValue1" [options]="options1"></ng5-slider>   
    </div>
   
    <div class="form-row justify-content-center">
        
        <div class="form-group col-md-4">
            <input class="myInput">
            <button type="submit" class="btn btn-info form-control" (click)="onSubmit()">Search</button>
        </div>
    </div>   
</form>
