.myBody{
    background-image: url("/assets/images/background12.jpg");
    background-repeat: 'no-repeat';
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}