.myBody{
    background-image: url("/assets/images/background15.jpg");
    height: auto;
    background-repeat: repeat-y;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
    background-size: cover; 
}

.myBody2{
    background-image: url("/assets/images/background15.jpg");
    background-repeat: 'no-repeat';
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: auto;
}

.table{
    background-color: transparent;
}