<body class="myBody text-center">
    <table class="table table-borderless table-hover myBody">
        <thead class="thead-light">
        <tr class="bg-primary">
            <th>Delivery</th>
            <th>Return</th>
            <th>Start</th>
            <th>End</th>
            <th>Price</th>
            <th>Car</th>
            <th>Rate car</th>
            <th>Service</th>
            <th>Rate service</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let rent of rents; let i = index;">
                <td>
                    {{ rent.startRACAddress.street }}
                    {{ rent.startRACAddress.number }},    
                    {{ rent.startRACAddress.city }},
                    {{ rent.startRACAddress.country }}
                </td>
                <td>
                    {{ rent.endRACAddress.street }}
                    {{ rent.endRACAddress.number }},    
                    {{ rent.endRACAddress.city }},
                    {{ rent.endRACAddress.country }}
                </td>
                <td>
                    {{ rent.startDate | date:"MM/dd/yyyy" }}
                </td>
                <td>
                    {{ rent.endDate | date:"MM/dd/yyyy" }}
                </td>
                <td>
                    {{ rent.price }}€
                </td>
                <td>
                    {{ rent.car.mark }}
                    {{ rent.car.model }}
                </td>
                <td *ngIf="isFinished(rent.endDate) == true">
                    <ngb-rating [(rate)]="rent.ratingForCar" class="ngb-rating" (rateChange)="carChangeRating(rent, rent.ratingForCar)"></ngb-rating>
                </td>
                <td *ngIf="isFinished(rent.endDate) == false">
                    <ngb-rating [(rate)]="rent.ratingForCar" class="ngb-rating-disabled" [readonly]="true"></ngb-rating>
                </td>
                <td>
                    {{ rent.rac.name }}
                </td>
                <td *ngIf="isFinished(rent.endDate) == true">
                    <ngb-rating [(rate)]="rent.ratingForRACService" class="ngb-rating" (rateChange)="racChangeRating(rent, rent.ratingForRACService)"></ngb-rating>
                </td>
                <td *ngIf="isFinished(rent.endDate) == false">
                    <ngb-rating [(rate)]="rent.ratingForRACService" class="ngb-rating-disabled" [readonly]="true"></ngb-rating>
                </td>
                <td *ngIf="is2DaysBeforeDelivery(rent.startDate)">
                    <button type="button" (click)="dropRent(rent)" class="btn btn-info">Drop</button>
                </td>
            </tr>
        </tbody>
    </table>
  </body>
  
