<form [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="from" style="color:white">From</label>
      <select class="form-control" placeholder="From" id="from" formControlName="from" [class.alert]="from.invalid && from.touched" [class.alert-danger]="from.invalid && from.touched">
        <option *ngFor="let airport of airports" [value]="airport.id">{{ airport.address.city }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="to" style="color:white">To</label>
      <select class="form-control" placeholder="To" id="to" formControlName="to" [class.alert]="to.invalid && to.touched" [class.alert-danger]="to.invalid && to.touched">
        <option *ngFor="let airport of airports" [value]="airport.id">{{ airport.address.city }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <input class="form-control" placeholder="Depart"
                  name="dp" ngbDatepicker #d1="ngbDatepicker" [minDate]="minPickerDate"  formControlName="date1" [class.alert]="date1.invalid && date1.touched" [class.alert-danger]="date1.invalid && date1.touched">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input class="form-control" placeholder="Return"
                  name="dp" ngbDatepicker #d2="ngbDatepicker" [minDate]="minPickerDate" formControlName="date2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <select id="inputState" class="form-control" formControlName="tripType">
        <option value="None" hidden>Trip type</option>
        <option value="None"></option>
        <option value="OneWay">One-way</option>
        <option value="MultyCity">Multy-city</option>
      </select>
    </div>
     <div class="form-group col-md-6">
      <select id="inputState" class="form-control" formControlName="class">
        <option value="None" hidden>Class</option>
        <option value="None"></option>
        <option value="Economy">Economy</option>
        <option value="Business">Business</option>
        <option value="First">First</option>
      </select>
    </div>
  </div>
  <div class="form-row justify-content-center">
      <div class="form-group col">
        <button (click)="minus()" class="btn btn-info" style="margin-right: 1px;">-</button>
      </div>
      <div class="form-group col">
        <input [(ngModel)]="peopleNum" type="number" class="form-control" formControlName="people" name="people" min="1" max="5" readonly='readonly'/>
      </div>
      <div class="form-group col">
        <button (click)="plus()" class="btn btn-info" style="margin-left: 1px;">+</button>
      </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-6">
        <button type="button" class="btn btn-primary form-control" (click)="searchClick()">Search</button>
    </div>
  </div>
</form>