<table class="table table-borderless table-hover">
    <thead class="thead-light">
    <tr class="bg-primary">
        <th>Name</th>
        <th>Location</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Istanbul Rent-a-car</td>
        <td>Istanbul, Turkey</td>
        <td>4.56 </td>
    </tr>
    <tr>
        <td>Belgrade Rent-a-car</td>
        <td>Belgrade, Serbia</td>
        <td>3.78</td>
    </tr>
    <tr>
        <td>London Rent-a-car</td>
        <td>London, England</td>
        <td>3.90 </td>
    </tr>
    </tbody>
</table>