<table class="table table-borderless table-hover">
    <thead class="thead-light">
    <tr class="bg-primary">
        <th>Logo</th>
        <th (click)="sortByName()">Name</th>
        <th (click)="sortByAddress()">Location</th>
        <th (click)="sortByRating()">Rating</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let racService of racServices;" (click)="racClick(racService.id);">
            <td><img src="{{racService.logo}}"></td>
            <td>{{racService.name}}</td>
            <td>
                {{racAddresses[racService.id-1].street}}
                {{racAddresses[racService.id-1].number}},
                {{racAddresses[racService.id-1].city}},
                {{racAddresses[racService.id-1].country}}
            </td>
            <td>{{racService.rating | number : '1.2-2'}}</td>
        </tr>
    </tbody>
</table>