tbody > tr {
    height: 70px;
}

th {
    text-align: center;
    cursor: pointer;
} 

td {
    text-align: center;
    vertical-align: middle;
    color: white;
    cursor:pointer;
}

img {
    width: 140px;
    height: 80px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}