<body class="myBody text-center">
    <div class="container-fluid">
      <div class="row top-buffer">
        <div class="col-3">
            <button type="button" class="btn btn-info">Fast Tickets</button>
        </div>
        <div class="col-6">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Company name:</th>
                <td colspan="2">{{airline.name}}</td>
              </tr>
              <tr>
                <th>Address: </th>
                <td>{{airline.address.city + ", " + airline.address.country}}</td>
                <td>
                  <map [longitude]='airline.address.coordinates.y' [latitude]='airline.address.coordinates.x'></map>
                </td>
              </tr>
              <tr>
                <th>Promotional description:</th>
                <td colspan="2">{{airline.promotionalDescription}}</td>
              </tr>
              <tr>
                <th>Business destinations:</th>
                <td>
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table">
                      <tr *ngFor="let airport of airline.businessDestinations">
                        <td>{{airport.name + ' in ' + airport.address.city + ', ' + airport.address.country }}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Pricelist:
                </th>
                <td colspan="2">
                  <table class="table">
                    <tr>
                      <td> Laggage > 10kg : </td>
                      <td> {{'+' + airline.priceList.extraCharge10 + '%'}}</td>
                    </tr>
                    <tr>
                      <td> Laggage > 20kg : </td>
                      <td> {{'+' + airline.priceList.extraCharge20 + '%'}}</td>
                    </tr>
                    <tr>
                      <td> Hand laggage > {{airline.priceList.handLaggageXYZDimensions.X + ' X ' + airline.priceList.handLaggageXYZDimensions.Y + ' X ' + airline.priceList.handLaggageXYZDimensions.Z}} dim</td>
                      <td> {{'+' + airline.priceList.extraChargeHandLaggage + '%'}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-info" [routerLink]="[airline.id, 'flights']">Flights</button>
        </div>
      </div>    
    </div>
  </body>