<body class="myBody text-center">
    <div class="container-fluid">
      <div class="row top-buffer">
        <div class="col-3">
            <button type="button" class="btn btn-info" (click)="fastTicketsClick()">Fast Tickets</button>
        </div>
        <div class="col-6">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Company name:</th>
                <td colspan="2">{{ airline.name }}</td>
              </tr>
              <tr>
                <th>Address: </th>
                <td>{{ airline.address.city }}, {{ airline.address.country }}</td>
                <td>
                  <map [longitude]='airline.address.longitude' [latitude]='airline.address.latitude'></map>
                </td>
              </tr>
              <tr>
                <th>Promotional description:</th>
                <td colspan="2">{{ airline.promotionalDescription }}</td>
              </tr>
              <tr>
                <th>Business destinations:</th>
                <td>
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table">
                      <tr *ngFor="let airport of airline.businessDestinations">
                        <td>{{ airport.name }} in {{ airport.address.city }}, {{ airport.address.country }}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Pricelist:
                </th>
                <td colspan="2">
                  <table class="table">
                    <tr>
                      <td> Laggage > 10kg : </td>
                      <td> + {{ airline.pricelist.luggageOver10kg }}%</td>
                    </tr>
                    <tr>
                      <td> Laggage > 20kg : </td>
                      <td> + {{ airline.pricelist.luggageOver20kg }}%</td>
                    </tr>
                    <tr>
                      <td> Hand laggage over maximum dimensions dim : </td>
                      <td> + {{ airline.pricelist.handLuggageOverMaxDimensions }}%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-info" [routerLink]="['/' + airline.id, 'flights']">Flights</button>
        </div>
      </div>    
    </div>
  </body>