.myBody{
    background-image: url("/assets/images/background11.jpg");
    background-repeat: 'no-repeat';
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.btn-outline-secondary{
    margin-top: 140px;
    margin-left: 340px;
    background-color: unset;
    outline:none;
}